<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>
    <h2>Lager-Simulator 2023</h2>

    <canvas id="canvas-0"></canvas id="canvas-0">
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>

    <!-- <div class="section-frame" id="zoom-slider_section-frame"> -->
    <!--     <form> -->
    <!--         <label for="zoom_slider">Drag this slider to change the zoom level.</label> -->
    <!--         <input type="range" id="zoom_slider" name="zoom_slider"> -->
    <!--     </form> -->
    <!-- </div> -->

    <!-- <div class="section-frame"> -->
    <!--     <form> -->
    <!--         <input type="checkbox" id="floor_background_checkbox" name="floor_background_checkbox"> -->
    <!--         <label for="floor_background_checkbox">Toggle display of floor background.</label> -->
    <!--     </form> -->
    <!--     <form> -->
    <!--         <input type="checkbox" id="floor_grid_checkbox" name="floor_grid_checkbox"> -->
    <!--         <label for="floor_grid_checkbox">Toggle display of floor grid.</label> -->
    <!--     </form> -->
    <!--     <form> -->
    <!--         <input type="checkbox" id="labeled_positions_checkbox" name="labeled_positions_checkbox"> -->
    <!--         <label for="labeled_positions_checkbox">Toggle display of position labels.</label> -->
    <!--     </form> -->
    <!--     <form> -->
    <!--         <input type="checkbox" id="world_boundary_checkbox" name="world_boundary_checkbox"> -->
    <!--         <label for="world_boundary_checkbox">Toggle display of world boundary.</label> -->
    <!--     </form> -->
    <!-- </div> -->

</body>

</html>
