* {
    --MARGIN: 4%;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "Arial Black";
}

body {
    background-color: black;
}

h2 {
    color: white;
    text-align: center;
    margin-top: var(--MARGIN);
}

canvas {
    width: calc(100% - 2 * var(--MARGIN));
    margin: var(--MARGIN);
    border: 1px solid white;
    border-radius: 20px;
}

#zoom_form {
    width: calc(100% - 2 * var(--MARGIN));
    margin-left: var(--MARGIN);
    margin-right: var(--MARGIN);
    text-align: center;
}

input[type="range"] {
    width: 100%;
}
