* {
    --MARGIN: 4%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS';
    margin-top: var(--MARGIN);
}

canvas {
    /* background-color: #004400; */
    width: calc(100% - 2 * var(--MARGIN));
    margin: var(--MARGIN);
    border: 1px solid white;
    border-radius: 20px;
}
